* {margin:0;padding:0}

body{font-family:Times New Roman;font-size:18px;color:#000;background: #272525 url(images/b1.jpg) repeat}

.main{width:960px;height:600px;margin:20px auto;display:square;overflow:hidden;}

a:link, a:visited { color: #FFFFFF; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #FF794D; text-decoration: underline; }

.header{}

.header img{width:350px}

.login-form {
	background: transparent url(images/login_back1.png);
	width:50%;
	height: 350px;
	margin:4% auto 4% auto;
 	position: relative; 	  	 
}

.head {
	position: absolute;
	top:-25%;
	left: 35%;
}

.head img {
	border-radius:50%;
	-webkit-border-radius:50%;
	-o-border-radius:50%;
	-moz-border-radius:50%;
	border:6px solid rgba(221, 218, 215, 0.23);
}

form {
	padding:10% 4em;
}

form li{
	border:1px solid #B4B2B2;
	list-style:none;
	margin-bottom:25px;
	width:100%;
	background:none;
	border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	-o-	border-radius: 0.3em;
	-moz-border-radius: 0.3em;

}

.icon{
	background:url(images/icons.png)  no-repeat 0px 0px;
	height:30px;
	width:30px;
	display: block;
	float:left;
	margin:7px -11px 0px 0px
}

.user{
	background: url(images/icons.png) no-repeat 12px 11px;	
}

.lock{
	background: url(images/icons.png) no-repeat -17px 11px;
}

input[type="text"], input[type="password"] {
	font-family: Times New Roman;
	width:60%;
	padding:0.7em 2em 0.7em 1.7em;
	color:#484848;
	font-size:20px;
	outline: none;
	background: none;
	border:none;
	font-weight:500;
	}

form li:hover{
	border:1px solid #40A9DF;
	 box-shadow: 0 0 1em #FF5C33;
	 -webkit-box-shadow: 0 0 1em #40A9DF;
	 -o-box-shadow: 0 0 1em #40A9DF;
	 -moz-box-shadow: 0 0 1em #40A9DF;
}

input[type="submit"]{
	float:left;
	font-size:17px;
	display: inline-block;
	font-weight:bold;
	color: #fff;
	transition: 0.1s all;
	-webkit-transition: 0.1s all;
	-moz-transition: 0.1s all;
	-o-transition: 0.1s all;
	cursor: pointer;
	outline: none;
	padding:4px 10px;
	margin-top:5px;
	font-family: Verdana,Helvetica,sans-serif;
	width:100%;
	border:0;
	border-radius: 4px;
	-webkit-border-radius: 0.3em;
	-o-	border-radius: 0.3em;
	-moz-border-radius: 0.3em;
	background:#F77D34;
	box-shadow: 0 7px 0 #FFB280;
	cursor: pointer;
    font: inherit;
    transition: all .1s linear;
    margin: 0;
    outline: 0;
}

input[type="submit"]:hover{
	background:	#FF5C33;
	box-shadow: 0 5px 0 #FF944D;
  transform: translateY(3px);
}

.checkbox input{font-family: 'Open Sans', sans-serif;
	color:#858282;
	font-size:18px;
	outline: none;
	background: #858282;
	border:none;
	font-weight:600
}

#search_button {
	width: 180px;
 	height: 32px;
	cursor: pointer;	
	text-align: center;
	background: url(images/admin1.png) no-repeat; 
	transition: all .1s linear;
	cursor: pointer;
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	font-family:Times New Roman;
    float: center;
	border: none;
}

#search_button:hover {
  transform: translateY(3px);
}


